*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', 'opens sans', sans-serif;
    color: rgba(48,48,48,0.9);
    font-weight: 400;
}

nav{
    background: #28a5fd;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 10px 50px;
}

.logo{
    height: 60px;
    padding-top: 0px;
    border-radius: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #000090;
    transition: 0.5s;
}


.checkbtn{
    display: block;
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

section{
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

p{
    padding-top: 10px;
}


.centrar-texto
{
    text-align: center;
}

.sin-padding{
    padding: 0;
}

.titulos
{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 8px 16px 16px black;
    position: relative;
    padding-top: 1rem;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-full
{
    width: 100%;
    padding: 0 1rem;
}

.fila
{
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.fila-centrada
{
    justify-content: center;
}

.columna
{
    padding-left: 1rem;
    padding-right: 1rem;

}

.columna-100
{
    width: 100%;
}

.columna-80
{
    width: 80%;
}

.columna-75
{
    width: 75%;
}

.columna-70
{
    width: 70%;
}

.columna-50
{
    width: 50%;
}

.columna-30
{
    width: 30%;
}

.columna-33
{
    width: 33.33%;
}

.columna-25
{
    width: 25%;
}

.columna-20
{
    width: 20%;
}

.columna-16
{
    width: 16.165%;
}

.columna-8
{
    width: 8.33%;
}

.margen-arriba
{
    margin-top: 30px;
}


.contenedor-imagen img{
    object-fit: cover;
    object-position: center;
    top: 0;
     width: 30%;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    transition: all 0.5s ease;
}

.contenedor-imagen img:hover{
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.6);
}


.form-bloques.form-bloque-boton .btn
{
    width: 100%;
    height: 30px;
}

.form-bloques input.form-input
{
    width: 100%;
    height: 2.5rem;
    resize: none;
}

.form-bloques textarea.form-input
{
    height: 8rem;
    width: 100%;
    resize: none;
}

/*logo whatsapp*/
.btn-wsp{
    text-decoration: none;
    position: fixed;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: #0df053;
    color: #fff;
    border-radius: 3.5rem;
    text-align: center;
    font-size: 2.5rem;
    box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.btn-wsp:hover{
    background-color: #fff;
    color: #0df053;
}





/*mobile*/
@media (max-width: 952px){
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }
    
    #check:checked ~ ul{
    left: 0;
    }
    
    .titulos
    {
        margin-top: 0;
        margin-bottom: 6px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        text-shadow: 4px 8px 8px black;
    }

    .container
    {
        width: 100%;
    }

    .columna-mb-100
    {
        width: 100%;
    }

    .columna-mb-90
    {
        width: 90%;
    }

    .columna-mb-75
    {
        width: 75%;
    }

    .columna-mb-50
    {
        width: 50%;
    }

    .columna-mb-41
    {
        width: 41.66%;
    }

    .columna-mb-33
    {
        width: 33.33%;
    }

    .columna-mb-25
    {
        width: 25%;
    }

    .columna-mb-16
    {
        width: 16.66%;
    }

    .columna-mb-8
    {
        width: 8.33%;
    }
    
    
}

/*tablet*/
@media (min-width: 952px){
    .checkbtn{
        display: none;
    }

    .enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

/*desktop*/
@media (min-width: 1200px){
    .checkbtn{
        display: none;
    }

    nav ul li a{
        font-size: 18px;
    }

    ul {
        position: relative;
    }
}








